# flyctl launch added from .gitignore
.idea
.vscode

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml

# flyctl launch added from src/.gitignore
src/.phpunit.cache
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/**/.env
src/**/.env.backup
src/**/.env.production
src/**/.phpactor.json
src/**/.phpunit.result.cache
src/**/Homestead.json
src/**/Homestead.yaml
src/**/auth.json
src/**/npm-debug.log
src/**/yarn-error.log
src/.fleet
src/.idea
src/.vscode

# flyctl launch added from src/bootstrap/cache/.gitignore
src/bootstrap/cache/**/*
!src/bootstrap/cache/**/.gitignore

# flyctl launch added from src/database/.gitignore
src/database/**/*.sqlite*

# flyctl launch added from src/storage/app/.gitignore
src/storage/app/**/*
!src/storage/app/**/public
!src/storage/app/**/.gitignore

# flyctl launch added from src/storage/app/public/.gitignore
src/storage/app/public/**/*
!src/storage/app/public/**/.gitignore

# flyctl launch added from src/storage/framework/.gitignore
src/storage/framework/**/compiled.php
src/storage/framework/**/config.php
src/storage/framework/**/down
src/storage/framework/**/events.scanned.php
src/storage/framework/**/maintenance.php
src/storage/framework/**/routes.php
src/storage/framework/**/routes.scanned.php
src/storage/framework/**/schedule-*
src/storage/framework/**/services.json

# flyctl launch added from src/storage/framework/cache/.gitignore
src/storage/framework/cache/**/*
!src/storage/framework/cache/**/data
!src/storage/framework/cache/**/.gitignore

# flyctl launch added from src/storage/framework/cache/data/.gitignore
src/storage/framework/cache/data/**/*
!src/storage/framework/cache/data/**/.gitignore

# flyctl launch added from src/storage/framework/sessions/.gitignore
src/storage/framework/sessions/**/*
!src/storage/framework/sessions/**/.gitignore

# flyctl launch added from src/storage/framework/testing/.gitignore
src/storage/framework/testing/**/*
!src/storage/framework/testing/**/.gitignore

# flyctl launch added from src/storage/framework/views/.gitignore
src/storage/framework/views/**/*
!src/storage/framework/views/**/.gitignore

# flyctl launch added from src/storage/logs/.gitignore
src/storage/logs/**/*
!src/storage/logs/**/.gitignore

# flyctl launch added from src/vendor/_laravel_idea/.gitignore
src/vendor/_laravel_idea/**/*

# flyctl launch added from src/vendor/daverandom/libdns/.gitignore
src/vendor/daverandom/libdns/**/.idea
src/vendor/daverandom/libdns/**/vendor

# flyctl launch added from src/vendor/hamcrest/hamcrest-php/.gitignore
src/vendor/hamcrest/hamcrest-php/**/composer.lock
src/vendor/hamcrest/hamcrest-php/**/vendor

# flyctl launch added from src/vendor/mockery/mockery/docs/.gitignore
src/vendor/mockery/mockery/docs/**/_build

# flyctl launch added from src/vendor/phpdocumentor/reflection/.gitignore
# IDE Shizzle; it is recommended to use a global .gitignore for this but since this is an OSS project we want to make
# it easy to contribute
src/vendor/phpdocumentor/reflection/**/.idea
src/vendor/phpdocumentor/reflection/nbproject/private
src/vendor/phpdocumentor/reflection/**/.buildpath
src/vendor/phpdocumentor/reflection/**/.project
src/vendor/phpdocumentor/reflection/**/.settings

# Build folder and vendor folder are generated code; no need to version this
src/vendor/phpdocumentor/reflection/**/build
src/vendor/phpdocumentor/reflection/**/tools
src/vendor/phpdocumentor/reflection/**/temp
src/vendor/phpdocumentor/reflection/**/vendor
src/vendor/phpdocumentor/reflection/**/*.phar

# By default the phpunit.xml.dist is provided; you can override this using a local config file
src/vendor/phpdocumentor/reflection/**/phpunit.xml
src/vendor/phpdocumentor/reflection/**/.phpunit.result.cache
src/vendor/phpdocumentor/reflection/**/.phpunit.cache

# flyctl launch added from src/vendor/psr/container/.gitignore
src/vendor/psr/container/**/composer.lock
src/vendor/psr/container/**/composer.phar
src/vendor/psr/container/vendor

# flyctl launch added from src/vendor/psr/event-dispatcher/.gitignore
src/vendor/psr/event-dispatcher/vendor
src/vendor/psr/event-dispatcher/**/composer.lock
fly.toml
